<div class="wrapper">
  <div class="item_wrapper">
    <div class="header">
      <div></div>
      <p>Gruppenauszahlungen</p>
    </div>

    <div class="menu">

      <div routerLink="/login" routerLinkActive="active" *ngIf="authService.isLoggedOut()">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faUser"></fa-icon>
          <p>Anmelden</p>
        </div>
      </div>

      <div routerLink="/factions" routerLinkActive="active" *ngIf="authService.isLoggedOut()">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faLayerGroup"></fa-icon>
          <p>Fraktionen</p>
        </div>
      </div>

      <div routerLink="/register-faction" routerLinkActive="active" *ngIf="authService.isLoggedOut()">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faSquarePlus"></fa-icon>
          <p>Neue Fraktion</p>
        </div>
      </div>

      <div routerLink="/admin/factions" routerLinkActive="active" *ngIf="authService.isAdmin()">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faLayerGroup"></fa-icon>
          <p>Alle Fraktionen</p>
        </div>
      </div>

      <div routerLink="/management" routerLinkActive="active" *ngIf="authService.isInFaction() && authService.hasPermission([EPermission.MANAGE_FACTION, EPermission.MANAGE_OPERATION_TYPES, EPermission.MANAGE_ROLES, EPermission.MANAGE_USER, EPermission.MANAGE_OPERATIONS])">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faCog"></fa-icon>
          <p>Verwaltung</p>
        </div>
      </div>

      <div routerLink="/operations" routerLinkActive="active" *ngIf="authService.isInFaction() && authService.hasPermission([EPermission.PARTICIPATE_OPERATION, EPermission.ADD_OPERATIONS, EPermission.MANAGE_OPERATIONS])">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faList"></fa-icon>
          <p>Aktionen</p>
        </div>
      </div>

      <div routerLink="/payment" routerLinkActive="active" *ngIf="authService.isInFaction() && authService.hasPermission([EPermission.PARTICIPATE_OPERATION, EPermission.ADD_OPERATIONS, EPermission.MANAGE_OPERATIONS])">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faMoneyBill"></fa-icon>
          <p>Auszahlung</p>
        </div>
      </div>

      <div routerLink="/me" routerLinkActive="active" *ngIf="authService.isLoggedIn()">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faUserGear"></fa-icon>
          <p>Account</p>
        </div>
      </div>

      <div *ngIf="authService.isLoggedIn()" (click)="logoutAction()">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faDoorOpen"></fa-icon>
          <p>Abmelden</p>
        </div>
      </div>


    </div>

    <div class="pages">
      <!-- BEGIN: Page -->
      <router-outlet></router-outlet>
      <!-- END: Page -->
    </div>

  </div>
</div>
