<div class="wrapper">
  <div class="item_wrapper">
    <div class="header">
      <div></div>
      <p>Gruppenauszahlungen {{auth.isLoggedIn()}}</p>
    </div>

    <div class="menu">

      <div routerLink="/login" routerLinkActive="active" *ngIf="auth.isLoggedOut()">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faUser"></fa-icon>
          <p>Anmelden</p>
        </div>
      </div>

      <div routerLink="/factions" routerLinkActive="active" *ngIf="auth.isLoggedOut()">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faLayerGroup"></fa-icon>
          <p>Fraktionen</p>
        </div>
      </div>

      <div routerLink="/register-faction" routerLinkActive="active" *ngIf="auth.isLoggedOut()">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faSquarePlus"></fa-icon>
          <p>Neue Fraktion</p>
        </div>
      </div>

      <div routerLink="/register-faction" routerLinkActive="active" *ngIf="auth.isLoggedOut()">
        <div class="yellowLine"></div>
        <div class="innerMenu">
          <fa-icon [icon]="fas.faSquarePlus"></fa-icon>
          <p>Neue Fraktion</p>
        </div>
      </div>


    </div>

    <div class="pages">
      <!-- BEGIN: Page -->
      <router-outlet></router-outlet>
      <!-- END: Page -->
    </div>

  </div>
</div>
