<div class="form-wrapper">
  <div class="title">Neue Fraktion Registrieren</div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmitLogin()" class="form">
    <input formControlName="faction" placeholder="Fraktionsname" type="text">
    <input formControlName="userLimit" type="number" min="8" value="8" step="1">
    <input formControlName="username" placeholder="Benutzername" type="text">
    <input formControlName="password" placeholder="Passwort" type="password">
    <input formControlName="password2" placeholder="Passwort wiederholen" type="password">
    <button class="button">Registrieren</button>
    <p class="error-msg" *ngIf="errorMessage.length > 0">{{errorMessage}}</p>
  </form>
</div>

<div class="info">
  <div class="title">Preis</div>
  <p>Bis 8 Benutzer ist der Aktionstracker kostenlos.</p>
  <p>Jeder weitere Benutzer kostet $1500 pro Monat extra.</p>
  <p>
    Zahlung erfolgt per Ingame-Überweisung an "Shepard"<br>
    Genaurer Anweisungen findet man in der Fraktionsverwaltung
  </p>
</div>
